@import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap");

body {
  background: #E8EBF5;
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

.chat-box {
    width: 90%;
    max-width: 400px;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.chat-box-header {
  height: 50px;
  background: #2cc1ef;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: Ubuntu, sans-serif;
}

.chat-icon {
  width: 70px;
  height: 70px;
}


.chat-box-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f8f8f8;
}

.chat-box-body-send,
.chat-box-body-receive {
  max-width: 70%;
  padding: 10px;
  margin: 8px 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  position: relative;
}

.chat-box-body-send {
  align-self: flex-end;
  background: #aad8e6;;
}

.chat-box-body-receive {
  align-self: flex-start;
}

.chat-box-body span {
  display: block;
  font-size: 10px;
  color: #777;
  margin-top: 5px;
  text-align: right;
}

.chat-box-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  gap: 10px;
}

.chat-box-footer input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: Ubuntu, sans-serif;
}

.chat-box-footer button,
.chat-box-footer .send {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.chat-button {
  position: fixed;
  right: 15px;
  bottom: 100px;
  background: #2C50EF;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 14px;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modal-close-button {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .chat-box {
    width: 90%;
    right: 5%;
  }

  .chat-box-body-send,
  .chat-box-body-receive {
    max-width: 85%;
  }
}
